/* styles.css */

/* Добавляем отступ под кнопками */
button {
    margin-bottom: 20px;
}

.main-content {
    text-align: center;
    margin-top: 50px;
}

.photos img {
    border: 2px dashed white;
    margin: 10px;
}

/* Поворачиваем первую фотографию налево на 20 градусов */
.photo-1 {
    transform: rotate(5deg);
    width: 200px;
    height: auto;
}

/* Поворачиваем вторую фотографию налево на 30 градусов */
.photo-2 {
    transform: rotate(8deg);
    width: 200px;
    height: auto;
}
